<%- include('headerC.ejs'); %>

<main>
	<section class="upd-screen">
		<div class="right">
			<form class="upd-form">
				<label class="upd-label" for="titulo">
					<strong>Nome Fantasia</strong>
					<input class="upd-input" type="text"
					name="nomeFantasia id="nomeFantasia" value="<%=
					editora.nomeFantasia %>" />
				</label>

				<label class="upd-label" for="autor">
					<strong>Local de Origem</strong>
					<input
						class="upd-input"
						type="text"
						name="localDeOrigem"
						id="localDeOrigem"
						value="<%= editora.localDeOrigem %>"
					/>
				</label>

				<label class="upd-label" for="descricao">
					<strong>Código</strong>
					<textarea
						class="upd-input"
						name="codigo"
						id="codigo"
					>
<%= book.descricao %></textarea
					>
				</label>
			</form>
		</div>
	</section>
</main>

<%- include('footer.ejs'); %>
