<%- include('header.ejs'); %>

<main>
	<section class="upd-screen">
		<div class="right">
			<h2 class="upd-title">Atualizar Editora</h2>
			<form
				class="upd-form"
				action="/dac/editora/atualizar/<%= editora.id %>"
				method="POST"
			>
				<label class="upd-label" for="titulo">
					<strong>Nome Fantasia</strong>
					<input
						class="upd-input"
						type="text"
						name="nomeFantasia"
						id="nomeFantasia"
						value="<%= editora.nomeFantasia %>"
					/>
				</label>

				<label class="upd-label" for="autor">
					<strong>Local de Origem</strong>
					<input
						class="upd-input"
						type="text"
						name="localDeOrigem"
						id="localDeOrigem"
						value="<%= editora.localDeOrigem %>"
					/>
				</label>

				<div>
					<input
						class="upd-btn"
						type="submit"
						value="Salvar"
					/>
					<a href="/dac/editora/deletar/<%= editora.id %>"
						><input
							type="button"
							value="Deletar"
							class="upd-btn"
					/></a>
				</div>
			</form>
		</div>
	</section>
</main>

<%- include('footer.ejs'); %>
